<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRANG CHỦ</title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <h2><img src="/images/logo.svg" /> <br />TAXIBAY</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/signup" method="post" enctype="multipart/form-data">
			<h1>Tạo tài khoản</h1>
            <div class="radio-container">
                <div class="radio-item">
                    <input type="radio" value="admin" id="employee" name="selector" checked>
                    <label for="employee">Nhân viên</label>
                </div>
                <div class="radio-item">
                    <input type="radio" value="driver" id="driver" name="selector">
                    <label for="driver">Tài xế</label>
                </div>
                <div class="radio-item">
                    <input type="radio" value="customer" id="customer" name="selector">
                    <label for="customer">Hành khách</label>
                </div>
			</div>
			<div class="form__admin">
                <input type="text" name="createUsername" placeholder="Tên tài khoản" />
                <input type="email" name="createEmail" placeholder="Email" />
                <input type="password" name="createPassword" placeholder="Mật khẩu" />
            </div>
            <div class="form__driver">
                <input type="text" name="driverLastName" placeholder="Họ" />
                <input type="text" name="driverFirstName" placeholder="Tên" />
                <input type="text" name="driverAddress" placeholder="Địa chỉ" />
                <input type="text" name="driverPhone" placeholder="Điện thoại" />
                <input type="date" name="driverBirthDate" placeholder="Ngày sinh" />
                <input type="file" name="driverAvatar" placeholder="Ảnh đại diện" />
            </div>
            <div class="form__customer">
                <input type="text" name="customerLastName" placeholder="Họ" />
                <input type="text" name="customerFirstName" placeholder="Tên" />
                <input type="text" name="customerPhone" placeholder="Điện thoại" />
                <input type="text" name="customerAddress" placeholder="Địa chỉ" />
                <input type="text" name="customerRegion" placeholder="Phường xã" />
                <input type="text" name="customerCity" placeholder="Tỉnh thành" />
                <input type="text" name="customerCountry" placeholder="Quốc gia" />
            </div>
			<button>Đăng ký</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/signin" method="post">
			<h1>Đăng nhập</h1>
			<input type="text" name="username" placeholder="Tên đăng nhập" />
			<input type="password" name="password" placeholder="Mật khẩu" />
			<button>Đăng nhập</button>
		</form>
	</div>

	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Chào mừng trở lại!</h1>
				<p>Để giữ kết nối với chúng tôi, vui lòng đăng nhập bằng thông tin cá nhân của bạn</p>
				<button class="ghost" id="signIn">Đăng nhập</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Chào bạn!</h1>
				<p>Nhập thông tin cá nhân của bạn và bắt đầu hành trình với chúng tôi</p>
				<button class="ghost" id="signUp">Đăng ký</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/signin.js"></script>
</body>
</html>