<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sales Dashobord</title>
  <link rel="stylesheet" href="/css/dashboard_admin.css">
</head>

<body>
  <!-- App -->
  <div class="app">
    <input class="mobile-input" type="checkbox" id="mobileButton" />

    <div class="side flex">
      <div class="mobile-btn">
        <label class="flex" for="mobileButton">
          <ion-icon name="grid-outline"></ion-icon>
        </label>
      </div>

      <!-- Sidebar -->
      <div class="sidebar flex-c flex-c">
        <div class="sidebar-logo flex">
          <span>Taxi</span>
        </div>

        <div class="sidebar-center flex flex-c">
          <form method="post" action="/admin">
            <button class="icon flex" type="submit"><ion-icon name="home-outline"></ion-icon></button>
          </form>
          <form method="post" action="/admin/coordinator">
            <button class="icon flex" type="submit"><ion-icon name="shield-checkmark-outline"></ion-icon></button>
          </form>
          <form method="post" action="/admin/book-car">
            <button class="icon flex" type="submit"><ion-icon name="person-add-outline"></ion-icon></button>
          </form>
          <form method="get" action="/">
            <button class="icon flex" type="submit"><ion-icon name="exit-outline"></ion-icon></button>
          </form>
        </div>
      </div>
      <!-- End Sidebar -->
    </div>

    <!-- Main Content -->
    <div class="main flex-d flex-c">
        <div class="main-top flex-d">
          <h2>Admin Dashboard</h2>
  
          <div class="main-top-left flex">
            <div class="search flex">
              <ion-icon name="search-outline" class="icon-btn"></ion-icon>
              <input type="text" placeholder="Search" />
            </div>
  
            <div class="icon flex">
              <ion-icon name="notifications-outline"></ion-icon>
            </div>
  
            <div class="user flex">
              <ion-icon name="person-circle-outline" class="icon-btn"></ion-icon>
              <h4>Admin</h4>
            </div>
          </div>
        </div>
        <div class="main-bottom flex-d">
          <div class="main-bottom-left flex flex-c">
            <div class="stats flex-d">
              {{#if data.length}}
                <div class="top-selling">
                  <div class="head flex-d">
                    <h2>Top selling product</h2>
                    <p>7 days</p>
                  </div>
    
                  <div class="flex-d">
                    <div class="details flex-d">
                      <div class="table">
                        <div class="row flex-d">
                          <h4>Name</h4>
                          <p>Iphone</p>
                        </div>
    
                        <div class="row flex-d">
                          <h4>Price</h4>
                          <p>$499</p>
                        </div>
    
                        <div class="row flex-d">
                          <h4>Sales</h4>
                          <p>27</p>
                        </div>
                      </div>
                    </div>
                    <div class="product">
                      <img src="https://raw.githubusercontent.com/programmercloud/sales-dashboard/main/img/laptop.png" alt="" />
                    </div>
                  </div>
                </div>
              {{else}}
                <p>chưa có dữ liệu</p>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    <!-- End Main Content -->
  </div>
  <!-- End App -->

  <!-- Ion Icons Js -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
</body>

</html>