<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sales Dashobord</title>
    <link rel="stylesheet" href="/css/dashboard_admin.css">
    <link rel="stylesheet" href="/css/showmap.css">
</head>

<body>
    <!-- App -->
    <div class="app">
        <div class="main flex-d flex-c">
            <div class="main-top flex-c">
                <h3>Hiển thị đường đi</h3>
                <div class="test"></div>
            </div>
            <div class="main-bottom flex-c">
                <div id="container">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <!-- End App -->

        <!-- Ion Icons Js -->
        <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
        <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBde2G9TITk9v9V_hk-YZVy0HoCCEzVZGw&callback=initMap&v=weekly" defer></script>
        <script>
            let map;

            function initMap() {
                map = new google.maps.Map(document.getElementById("map"), {
                    center: new google.maps.LatLng(10.991602703466613, 106.49172871763882),
                    zoom: 16,
                });

                const iconBase =
                    "https://developers.google.com/maps/documentation/javascript/examples/full/images/";
                const icons = {
                    parking: {
                        icon: iconBase + "parking_lot_maps.png",
                    },
                    library: {
                        icon: iconBase + "library_maps.png",
                    },
                    info: {
                        icon: iconBase + "info-i_maps.png",
                    },
                };
                let features = [
                    [10.991602703466613, 106.49172871763882],
                    [10.986463034482924, 106.4973935433721],
                    [10.979975127804288, 106.50563328989325],
                    [10.983682520508252, 106.51687711066691],
                    [10.98595748843577, 106.53172582054357],
                    [10.986294519230087, 106.55962079574539]
                ]
                for(let i = 0; i < features.length; i++){
                    const marker = new google.maps.Marker({
                        position: features[i],
                        map: map,
                    });
                    marker.setPosition(new google.maps.LatLng(features[i][0], features[i][1]));
                    (function(index){
                        setTimeout(function(){
                            marker.setMap(null);
                        }, i * 5000)
                    })(i)
                }
                
            }
            
            window.initMap = initMap;

        </script>
</body>

</html>